<!doctype hmtl>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css" media="screen">
		*{
			margin: 0;
			padding: 0;
			font-family: "微软雅黑";
		}
		#main{
			width: 100%;
			height: 500px;
			float: left;
		}
		#content{
			background: blue;
			height: 500px;
			margin-left:203px;
			margin-right: 203px;
		}
		aside{
			background: green;
		}
		#aside_left{
			width: 200px;
			height: 500px;
			float: left;
			margin-left: -100%;
		}
		#aside_right{
			width: 200px;
			height: 500px;
			float: left;
			margin-left: -200px;
		}
	</style>
</head>
<body>
	<main id="main">
		<div id="content">#content</div>
	</main>
	<aside id="aside_left">#aside_left</aside>
	<aside id="aside_right">#aside_right</aside>
</body>
</html>